.signin {
    background-color: #E6F0FF;
    height:100%;
}

.centersquare {
    width: 750px;
    height: 450px;
    margin: auto;
    margin-top: 125px;
    text-align: center;
    padding: 125px 0;
    background: rgb(255, 255, 255);
}

.google {
    width: 25%;
    margin: auto;
}
