.event {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
    height: 13%;
    padding: 2%;
    font-size: 0.75vw;
    display: flex;
    flex-flow: row;
}

.event-info {
    width: 100%;
    font-size: 11px; 
}

.upcoming {
    background-color: whitesmoke;
    color: var(--apptrack-primary);
    box-shadow: 0px 3px 5px gray;
}

.completed {
    background-color: whitesmoke;
    color: var(--apptrack-primary);
    box-shadow: 0px 3px 3px gray;
}

.link-container {
    align-items: center;
    display: flex;
    vertical-align: center;
}

.link {
    cursor: pointer;
    fill: currentColor;
    height: 24px;
    width: 24px;
}