.navbar {
    background-color:  var(--apptrack-primary);
    height: 8vh;
}

.home {
    color: var(--apptrack-light);
    align-self: center;
    font-size: 1.5rem;
    margin-left: 0em;
    margin-right: 0em;
    display: flex;
}

.profile {
    color: var(--apptrack-light);
    align-self: center;
    font-size: 1.5rem;
    margin-left: 0em;
    margin-right: 0em;
    display: flex;
}

.menu {
    color: var(--apptrack-light);
    align-self: center;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.2rem;
    display: flex;
}

.dropdown-toggle::after {
    display: none; 
  }
