.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.body {
    height: 100%;
    display: flex;
    flex-flow: row;
}

.left {
    width: 20%;
    display: flex;
    flex-flow: column;
}

.right {
    width: 80%;
    background-color: #E6F0FF;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.left-top {
    height: 50%;
    background-color: white;
    color: #001D6E;
    padding-top: 4%;
    position: relative;
}

.left-bottom {
    height: 50%;
    background-color: #6475A3;
    color: #FEE2C5;
    padding-top: 4%;
    position: relative;
}

.right-top {
    height: 10%;
    width: 100%;
    background-color: white;
    align-items: center;
    color: #001D6E;
    display: flex;
}

.right-space {
    height: 2%;
}

.right-day-names {
    display: flex;
    height: 3%;
    background-color: white;
}

.right-bottom {
    height: 85%;
}

.calendar-row {
    height: calc(100% / 6);
    display: flex;
    flex-flow: row;
}

.day-box {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-box {
    background-color: white;
    width: calc(100% / 6);
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.calendar-box > ul {
    text-align: left;
    margin-left: 5%;
    margin-right: 7.5%;
    padding-left: 12.5%;
}

.calendar-box-item {
    display: block;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.calendar-box-item-text {
    cursor: pointer;
}

.border-left {
    border-left: 1px solid;
}

.border-bottom {
    border-bottom: 1px solid;
}

.left-title {
    font-size: 2.5em;
}

.current-day {
    background-color: #001D6E;
    border-radius: 50%;
    color: white;
    display: inline-block;
    width: 25px;
    height: 25px;
}   

.not-current-month {
    background-color: whitesmoke;
}

.arrow {
    width: 28px;
    height: 28px;
    fill: currentColor;
    cursor: pointer;
}

.left-arrow {
    margin-left: 2%;
}

.right-arrow {
    margin-left: 1%;
}

.month-year-display {
    margin-left: 2%;  
    user-select: none;
}

.left-headers {
    font-size: 2.5em;
    margin-left: 7%;
    user-select: none;
}

.bottom-arrows-container {
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.page-arrows {
    width: 28px;
    height: 28px;
    fill: currentColor;
    margin-left: 15px;
}

.page-arrows-enabled {
    cursor: pointer;
}