.main-content {
    height: 100%;
    min-height: 100%;
}

.left-half {
    background-color: white;
    padding: 25px 50px 25px 50px;
}

.right-half {
    background-color: var(--apptrack-light);
    padding: 25px 50px 25px 50px;
}

.checklist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.checklist li {
    margin-bottom: 15px;
    position: relative;
}
.checklist h6 {
    display: inline-block;
    padding-left: 8px;
}

.checklist svg {
    z-index: 1;
}

.levels-btn {
    background-color: #e2e6ea;
    border-style: none;
    margin-right: 5px;
}

.leetcode-btn {
    border-style: none;
}
 
.vertical-line{
    position:absolute;
    height:100%;
    width:1px;
    border-left:1px solid black;
    left:12px;
    top:20px;
    z-index:0;
}

.email-history, .action-items {
    background-color: #e2e6ea;
    height: 35%;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}

.mini-accordion {
    background-color: white;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-bottom: 0.5rem;
}
.main-content :global(.accordion-button:focus), .main-content :global(.accordion-button:not(.collapsed)) {
    background-color: white;
    border-color: white;
    outline: none;
    color:black;
    box-shadow: none;
}
.btn-close:focus {
    box-shadow: none;
}

.no-resize {
    resize: none;
}

.blue-button {
    background-color: #001D6E;
    border-radius: 0%;
    border: none;
}

.blue-button:hover {
    background-color: #00103b;
}

.green-button {
    border-radius: 0%;
    border: none;
    margin-left: 2%;
}