@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes hideItem {
    0% { opacity: 0; }
    100% { opacity: 0; }
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.top {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.title {
    animation: fadeIn 3s;
}

.text {
    font-size: 20px;
    font-weight: 500;
    animation: hideItem 3s, fadeIn 3s ease 1s;
}

.form {
    animation: hideItem 3s, fadeIn 3s ease 2s;
}

.staleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.number {
    width: 15%;
    margin-left: 23%;
    margin-right: 30px;
}

.time {
    width: 30%;
}

.submit {
    display: flex;
    justify-content: center;
}